<h3>Gerenciar Cargos<a href="#" class="btn btn-primary pull-right">Adicionar Novo</a></h3>
<table class="table">
  <thead>
    <tr>
      <th>Nome do Cargo</th>
      <th>Horas / Dia</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tr>
    <td>Estagiário de Desenvolvimento</td>
    <td class="hour-td">6</td>
    <td class="edit-td">
      <a href="#">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
    </td>
    <td class="remove-td">
      <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </td>
  </tr>
  <tr>
    <td>Desenvolvedor Júnior</td>
    <td class="hour-td">8</td>
    <td class="edit-td">
      <a href="#">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
    </td>
    <td class="remove-td">
      <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </td>
  </tr>
  <tr>
    <td>Desenvolvedor Pleno</td>
    <td class="hour-td">8</td>
    <td class="edit-td">
      <a href="#">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
    </td>
    <td class="remove-td">
      <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </td>
  </tr>
</table>

<!-- <h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @jobs.each do |job| %>
      <tr>
        <td><%#= link_to 'Show', job %></td>
        <td><%#= link_to 'Edit', edit_job_path(job) %></td>
        <td><%#= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br> -->

<%#= link_to 'New Job', new_job_path %>
